<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer">
                <p>Digital Playground on line.</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>Anywhere and nowhere</p>
                <ul class="footer-menu">
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="https://www.facebook.com/nory.cc.official">Facebook</a></li>
                    <li><a href="https://www.instagram.com/nory.cc/">Instagram</a></li>
                    <li><a href="/terms.html">Terms</a></li>
                    <li><a href="/privacy.html">Privacy</a></li>
                </ul>
                <ul class="footer-language">
                    <li><a href="/">EN</a></li>
                    <li><a href="/ko">KR</a></li>
                </ul>
                <address>
                    Copyright ©
                    <a href="https://nory.cc"><strong>Nory</strong>.</a>
                    All Rights Reserved.
                </address>
            </div>
        </div>
    </div>
</footer>