<header id="header">
    <div class="container">
        <div class="row">
            <div class="header clearfix">
                <h1>
                    <a href="/index.html">
                        <em><img src="/assets/img/logo_nory.png" alt="logo"></em>
                    </a>    
                </h1>
                <nav id="mNav">
                    <h2 class="ir_so">menu</h2>
                    <a href="#" class="ham"><span></span></a>
                </nav>
                <nav class="nav">
                    <ul class="clearfix">
                        <li><a href="/social.html">Social</a></li>
                        <li><a href="/personality.html">Personality</a></li>
                        <li><a href="/quiz.html">Quiz</a></li>
                        <li><a href="/tournament.html">Tournament</a></li>
                        <li><a href="/game.html">Game</a></li>
                    </ul>
                </nav>    
            </div>
        </div>
    </div>
</header>


<script>
    $(".ham").click(function(e){
        e.preventDefault();
        $(".nav").slideToggle();
    });
</script>