<section id="section">
    <div class="container">
        <div class="row">
            <div class="recommended">
                <h1>
                    <em>Recommended NORY</em>
                </h1>
                <div class="recommended">
                    <a href="/social/ai/animalface/index.html"><img src="/assets/img/animalface.png"
                        alt="animalface_thumb"><em>AI<br>Animal Face</em></a>
                    <a href="/social/ai/politician/index.html"><img src="/assets/img/politician.png" 
                        alt="politician_thumb"><em>AI<br>Politician</em></a>
                    <a href="/social/kakaotalk/politician/index.html"><img src="/assets/img/gifticon.png"
                        alt="gifticon_thumb"><em>AI<br>Face Age</em></a>
                    <a href="/social/kakaotalk/Emotion/index.html"><img src="/assets/img/retromeme.png"
                        alt="retromeme_thumb"><em>AI<br>Emotion</em></a>
                </div>
            </div>
        </div>
    </div>
</section>