<section id="section">
    <div class="container">
        <div class="row">
            <div class="recommended">
                <h1>
                    <em>추천 NORY</em>
                </h1>
                <div class="square clearfix">
                    <a href="/ko/social/kakaotalk/gifticon/index.html"><img src="/assets/img/gifticon.png"
                            alt="gifticon_thumb"><em>카카오톡<br>기프티콘 낚시</em></a>
                    <a href="/ko/social/kakaotalk/retromeme/index.html"><img src="/assets/img/retromeme.png"
                            alt="retromeme_thumb"><em>카카오톡<br>오늘의 좋은 글귀</em></a>
                    <a href="/ko/social/ai/animalface/index.html"><img src="/assets/img/animalface.png"
                            alt="meme_thumb"><em>인공지능<br>동물상 테스트</em></a>
                    <a href="/ko/social/ai/politician/index.html"><img src="/assets/img/politician.png"><em>인공지능<br>정치관상 테스트</em></a>
                </div>
            </div>
        </div>
    </div>
</section>