@charset "utf-8";

#section_temp {display: none;}


/* 섹션 */
.section {padding: 5px 0px;}
.section h1 em {font-size: 15px;}
.square a {position: relative; padding-top: 36%; overflow: hidden; float: left; border-radius: 5%; width: 48%; margin: 1%;}
/* .square a {position: relative; padding-top: 36%; overflow: hidden; float: left; border-radius: 5%; width: 48%; margin: 1%;} */
.square a img {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-width: 100%; height: auto; 
    display: block; 
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .3s ease-in-out;
}
.square a em { color: #fff; width: 100%; font-size: 15px;
    position: absolute; left: 10%; top: 10%;}
.square a img:hover {
    transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


/* 미디어쿼리 */
@media (max-width: 1290px){
    
}

@media (max-width: 1024px){
    
}

@media (max-width: 960px){

}

@media (max-width: 768px){

    .square a {width: 48%; margin: 1%; padding-top: 36%;}
    .square a:hover img {filter: none;}

}

@media (max-width: 480px){

}

@media (max-width: 320px){

}